html {
    scroll-behavior: smooth;
}
body {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

body section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

nav {
    margin-top: 3vh;
    padding-bottom: 4px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

footer {
    margin-top: 7%;
    margin-bottom: 10%;
}

footer div div {
    text-align: center;
}

.card {
    margin: 2vw;
    padding: 2vw;
    border-radius: 5px;
}

.icon-text {
    margin: 10px;
    padding: 10px;
}

.icon-text:hover, div.card-body table tr td, a.btn.btn-link:hover {
    border-bottom: 1px solid #3634d2;
}

.icon-text a, div.h5 a, div a.text-gray {
    text-decoration: none;
    height: 100%;
    margin-bottom: 50px;
}

.icon-text a img {
    margin-right: 20px;
}

.btn-long {
    min-width: 100px;
}

.sh, button:hover {
    box-shadow: 6px 6px 8px grey;
}

div.h3 {
    position: sticky;
    top: 44px;
    z-index: 1;
    margin-bottom: 35px;
    color: white;
    background:#4240d4;
    border-color:#3634d2;
    text-align: center;
    border-radius: 5px;
}

#menu-close-icon {
    padding: 10px;
    text-align: center;
}

#menu-icon {
    z-index: 2;
    padding: 10px;
    position: fixed;
    top: 5px;
}

#menu-icon img, #menu-close-icon img {
    background:#5755d9;
    border-color:#4b48d6;
    padding:7px;
    border-radius: 5px;
}

#menu-icon img:hover, #menu-close-icon img:hover, #menu-icon a:hover, #mobile-menu a:hover, div.h5 a {
    background:#4240d4;
    border-color:#3634d2;
    box-shadow: 6px 6px 8px grey;
}

#mobile-menu {
    display: none;
    animation-name: fall;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    opacity: 0.9;
    background: white;
    border-radius: 5px 5px 120px 120px;
    position: sticky;
    z-index: 2;
    padding: 4%;
}

#mobile-menu a {
    opacity: 1;
    background: #5755d9;
    margin: 20px;
    display: block;
    color: white;
}

#my-img {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
    padding: 4%;
}

@media only screen and (max-width: 600px) {
    div.h3 {
      top: 10px;
    }
}

@keyframes fall {
    from {top: -50%;}
    to {top: 0;}
}
